@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background:linear-gradient(90deg, rgb(12, 24, 46) 0%, rgb(24, 79, 190)100%); 

}
body h2 {
    color:rgb(255, 255, 255);
}

main {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #8aa0cf;
    color: rgb(62, 68, 82);
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;

}

.finish button {
    text-align: center;
}
